     ul li{
    
    display: inline;
    margin: 10px ;
    padding:2px 2px  2px 2px;
   
   border-radius: 10px;
   border: 1px solid white;


    }

   ul li a{
        text-decoration: none;

    }
   ul li a:hover{
      color: white;
      text-decoration: none;
      
    }
    
    .bord{
          
          line-height: 35px;
          border-radius: 10px;
          border: 1px solid white;
          background: lightsteelblue;
    
          }