div{position: relative;color:#2f4f1d;}
	#img{width: 1340px;height: 200px;}
	#Pc1{position: absolute;left: 50%;bottom: 30%;color: #dce014;}
	#Pc2{position: absolute;left: 50%;bottom: 10%;color: #6b5e5e}
	#tr{background-color: #aa9e9e;}
	#Pc3{position: absolute;left:70%;bottom:50%;}
	#Pc5{width: 300px;height: 250px;border:4px none #192459;margin: 20px;padding:10px;background:#acb5bf;position: absolute;left: 30%;}
	#Pc6{width: 300px;height: 250px;border: 4px none #192459;margin: 20px;padding:10px;background:#acb5bf;position: absolute;left: 70%;}
	p{color: #1c3870}
	h3{color: black;}
	h2{color:6b2929;}
	#mq{color: white}
	body{background-color: #173d66;}
	button{color:white;background-color:451a4c;position: absolute;left:40%;width:300px;height: 50px;}
	#sjd{color: black;font-weight: bold;}
	footer{position: absolute;padding-left: 40%;padding-bottom: 20px;color: #094718}