.english{
	font-family:Cambria;
}
header{
	background:url("../../imgs/c5.jpg");
}
.bb{
	background-color:  gray;
}
.span{
	background:  linear-gradient(linen 20%,lightblue 80%);
}
.cc{
	background: linear-gradient(snow 10%,linen 90%);
}

