     ul li{
    
    display: inline;
    margin: 10px ;
    padding:2px 2px  2px 2px;

    }

   ul li a{
        text-decoration: none;

    }
   ul li a:hover{
      color: darkseagreen;
      text-decoration: none;

    }
  .bord{
    background: linen;
  }
    
    .sr{
      padding-top: 10px;
      width: 1200px;
      height: 900px;
      overflow: auto;
      border: 2px ridge #00457b;
      margin-right: 10px;

    }